{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
</style>
<title>
  Story 9 PPW
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/story9.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
  <script src="https://apis.google.com/js/platform.js" async defer></script>
   <meta name="google-signin-client_id"
          content='1046639656665-tb5i4auenn5uvfv27naj61vqff4elonn.apps.googleusercontent.com'>
          <script src="{% static 'helo.js' %}" type="text/javascript"></script>
</head>
 <body>

    <div class="centered">
      <h1>Lets Read!</h1><div> <a id="logout" href="{% url 'logout' %}" onclick="signOut()">LOGOUT</a></div>
    </div>
      <input id="input" type="text" name="search" placeholder="Search.."><button id = "search" ><i class = "fa fa-search"></i></button>
          </div>
  <div class="content">
    {% block content %}
    <table class="table">
              <thead style="text-align: center;font-size: 15pt;">
                <tr>
                  <td>TITLE</td>
                  <td>AUTHOR</td>
                  <td>PUBLISHER</td>
                  <td>Star : <p class="aku">0</p> </td>
                </tr>
              </thead>
              <tbody>
                <!-- {% for i in book %} -->
                <tr>

                  <td>{{ title }}</td>
                </tr>
              </tbody>
    </table>
    <!-- {% endfor %} -->
  {% endblock %}
  </div>
  </body>
</html>
