{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'story9.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
    <meta name="google-signin-client_id"
          content='1046639656665-tb5i4auenn5uvfv27naj61vqff4elonn.apps.googleusercontent.com'>
          <script src="{% static 'helo.js' %}" type="text/javascript"></script>
    <title>Login Page</title>
</head>
<body class="body-login d-flex flex-column justify-content-center align-items-center">
<h1>Google Books API Collections</h1>
<section class="d-flex justify-content-center align-items-center">
    {% csrf_token %}
    <div class="login container d-flex flex-column justify-content-center align-items-center">
        <h5 align="center">Please Login First with Your Google Account!</h5>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</section>
</body>
</html>
