{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
</style>
<title>
  Story 10 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/story10.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/story10.js' %}" type="text/javascript"></script>
</head>
 <body class="body">
    <h1>Subscribe Now!</h1>
    <ul>
    <section class="section">
      <div class="errorlist" id="message"><p></p></div>
      <form  id="form" method="POST">
        {% csrf_token %}
        <div>
            <div>{{login3}}</div>
        </div>

            <div class="submit-button">
                <input class="submit" type="submit" value="Subscribe" id="submit-btn" disabled="True" >
              </div>
            </form>
  </body>
</html>
implements TreePrinter.PrintableNode 

class TreePrinter{
    /** Node that can be printed */
    public interface PrintableNode
    {
        /** Get left child */
        PrintableNode getLeft();
 
 
        /** Get right child */
        PrintableNode getRight();
 
 
        /** Get text to be printed */
        String getText();
    }
    public static void print(PrintableNode root)
    {
        List<List<String>> lines = new ArrayList<List<String>>();
 
        List<PrintableNode> level = new ArrayList<PrintableNode>();
        List<PrintableNode> next = new ArrayList<PrintableNode>();
 
        level.add(root);
        int nn = 1;
 
        int widest = 0;
 
        while (nn != 0) {
            List<String> line = new ArrayList<String>();
 
            nn = 0;
 
            for (PrintableNode n : level) {
                if (n == null) {
                    line.add(null);
 
                    next.add(null);
                    next.add(null);
                } else {
                    String aa = n.getText();
                    line.add(aa);
                    if (aa.length() > widest) widest = aa.length();
 
                    next.add(n.getLeft());
                    next.add(n.getRight());
 
                    if (n.getLeft() != null) nn++;
                    if (n.getRight() != null) nn++;
                }
            }
 
            if (widest % 2 == 1) widest++;
 
            lines.add(line);
 
            List<PrintableNode> tmp = level;
            level = next;
            next = tmp; 
            next.clear();
        }
 
        int perpiece = lines.get(lines.size() - 1).size() * (widest + 4);
        for (int i = 0; i < lines.size(); i++) {
            List<String> line = lines.get(i);
            int hpw = (int) Math.floor(perpiece / 2f) - 1;
 
            if (i > 0) {
                for (int j = 0; j < line.size(); j++) {
 
                    // split node
                    char c = ' ';
                    if (j % 2 == 1) {
                        if (line.get(j - 1) != null) {
                            c = (line.get(j) != null) ? '┴' : '┘';
                        } else {
                            if (j < line.size() && line.get(j) != null) c = '└';
                        }
                    }
                    System.out.print(c);
 
                    // lines and spaces
                    if (line.get(j) == null) {
                        for (int k = 0; k < perpiece - 1; k++) {
                            System.out.print(" ");
                        }
                    } else {
 
                        for (int k = 0; k < hpw; k++) {
                            System.out.print(j % 2 == 0 ? " " : "─");
                        }
                        System.out.print(j % 2 == 0 ? "┌" : "┐");
                        for (int k = 0; k < hpw; k++) {
                            System.out.print(j % 2 == 0 ? "─" : " ");
                        }
                    }
                }
                System.out.println();
            }
 
            // print line of numbers
            for (int j = 0; j < line.size(); j++) {
 
                String f = line.get(j);
                if (f == null) f = "";
                int gap1 = (int) Math.ceil(perpiece / 2f - f.length() / 2f);
                int gap2 = (int) Math.floor(perpiece / 2f - f.length() / 2f);
 
                // a number
                for (int k = 0; k < gap1; k++) {
                    System.out.print(" ");
                }
                System.out.print(f);
                for (int k = 0; k < gap2; k++) {
                    System.out.print(" ");
                }
            }
            System.out.println();
 
            perpiece /= 2;
        }
    }
}