{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
</style>
<title>
  Story 10 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'css/story10.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/story10.js' %}" type="text/javascript"></script>
</head>
 <body class="body">
    <h1>Subscribe Now!</h1>
    <ul>
    <section class="section">
      <div class="errorlist" id="message"><p></p></div>
      <form  id="form" method="POST">
        {% csrf_token %}
        <div>
            <div>{{form_email}}</div>
        </div>

            <div class="submit-button">
                <input class="submit" type="submit" value="Subscribe" id="submit-btn" disabled="True" >
              </div>
            </form>
  </body>
</html>
