{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
</style>
<title>
  Story 6 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'story7css.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'ajax.js' %}" type="text/javascript"></script>
</head>
 <body class="body">
    <h1>Hello, Apa Kabar?</h1>
    <ul>
    <li><a href='profile'>My  Profile</a></li>
  </ul>
    <section class="section">
      <form  action="{% url 'aku'%}" method="POST">
        {% csrf_token %}
        <div >
            {{ form_status }}
        </div>
            <div class="submit-button">
                <input class="submit" type="submit" value="Let's go!" id="submit">
              </div>
                <div>
                <input type="button" id="button" value="Delete Status">
                

            </div>
            <div>
              
            <table class="table">
        <thead>
            <th>Your Status</th>
            
        </thead>
        <tbody>
            {% for i in status %}
            <tr>
                <td> {{i.statusah}} </td>
                <td> {{i.waktu_mempost}}
            </tr>             
            {% endfor %}
        </tbody>
    </table>
  </div>
  </body>
</html>
