{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
</style>
<title>
  Story 6 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'story7css.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'ajax.js' %}" type="text/javascript"></script>
</head>
 <body>
    <h1>Hello,ini Biodata saya</h1>
        <div>
            <table class="table">
        <thead>
            <th>Nama Saya Jeremy</th>
        </thead>
        <tr><td>
          NPM : 1706039742
        </td>
      </tr>
      <tr>
       <td> Umur  :20</td>
      </tr>
      <tr>
        <td>
          Saya Berkuliah di FASILKOM UI !!!

        </td></tr>

        <tbody>
        </tbody>
    </table>

  </div>
<div>
  <table>
    <tr>
      <td>
        Title
      </td>
    </tr>
  </table>
</div>
  <button class="btn" id="star" style="background-color: white;border-color: black;"><i class="fa fa-star"></i></button>
  <div>
   <p></p>
   
   </div>
  </body>
</html>
