body{
	background-color: #e5e5e5;
}
.content {
     background-color: #e5e5e5;
    color: black;
}
.centered {
	width:100%;
	text-align: center;
    color: black;

}
#star{
	color: yellow;
	background-color: white;
	border-color: black
}
#search{
	color :black;
	background-color: white

}
input[type=text] {
    width: 200px;
    height: 35px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
   /* padding: 12px 20px 12px 40px;*/
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 90%;
}