body{
	background-color: lightblue;
}
.content:hover {
    background-color: navy;
}
.centered {
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: red;
}