.fail{
	color:red;
}
form{
	width:400px;
	margin-left: 35%;
	margin-top: 2%;
}
h1{
	font-size: 30pt;
	color:white;
	text-align: center;
}
.submit{
	margin-top: 5%;
	margin-left: 80%;
}
body{
	background-color: lightblue;
}
.errorlist{
	text-align: center;
	font-size: 15pt;
}
.success{
	color:green;
}
.fail{
	color:red;
}